
html[dir="rtl"] {
  .rtl-mirror {
    transform: scaleX(-1);
  }
}

/* spacing helper rtl */ 

$steps: (
  0.25rem,
  0.5rem,
  1rem,
  1.5rem,
  3rem
);

@mixin generateSpacingClasses($dir, $index, $size) {
  .ml-#{$dir}-#{$index} {
    margin-left: $size !important;
  }
  .ml-#{$dir}n-#{$index} {
    margin-left: -$size !important;
  }
  .mr-#{$dir}-#{$index} {
    margin-right: $size !important;
  }
  .mr-#{$dir}n-#{$index} {
    margin-right: -$size !important;
  }

  .pl-#{$dir}-#{$index} {
    padding-left: $size !important;
  }
  .pr-#{$dir}-#{$index} {
    padding-right: $size !important;
  }
}

html[dir="rtl"] {
  @each $step in $steps {
    $i: index($steps, $step);
    @include generateSpacingClasses('rtl', $i, $step)
  }
}

html:not([dir="rtl"]) {
  @each $step in $steps {
    $i: index($steps, $step);
    @include generateSpacingClasses('ltr', $i, $step)
  }
}