// Typography
$font-family-sans-serif: Muli, Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.4;

// Body
$body-bg: #e9edf2;

// Colors
$blue: #0080fc;
$primary:  #0080fc;
$secondary: #6e6e6e;

// Custom
$header-height: 60px;
$sidebar-width: 230px;
$sidebar-width-mini: 67px;
$sidebar-transition: .2s;