.bui-sidebar {
	position: unset !important;
	min-height: 300px !important;
}
.fake-container {
	position: relative;
}
.fake-navbar {
	height: 50px;
	height: 60px;
    margin-bottom: -60px;
	background: darkgray;
}
.bui-container {
	background: gray;
}
.bui-container .bui-main {
	background: lightgray;
}
.bui-navbar {
	position: relative !important;
    height: 60px !important;
    padding: 0 !important;
}
.bui-navbar .bui-toggle-icon .bui-icon {
	display: flex;
}

.tabs .nav-tabs .nav-item a:hover {
	text-decoration: none !important;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
	border-left-width: 3 !important;
	border-bottom-width: 0 !important;
	margin: 0 !important;
	text-decoration: none !important;
}