@import 'https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap';

.demo-components-bui, .tabs, .modal, .alert{
	font-family: Muli,Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height: 1.4;
	font-size: .9rem;
}

.demo-components-bui .vs__selected{
	display: flex !important;
}

.demo-components-bui .bui-sidebar {
	position: unset !important;
	min-height: 300px !important;
}
.demo-components-bui .fake-container {
	position: relative;
}
.demo-components-bui .fake-navbar {
	height: 50px;
	height: 60px;
    margin-bottom: -60px;
	background: darkgray;
}
.demo-components-bui .bui-container {
	background: gray;
}
.demo-components-bui .bui-container .bui-main {
	background: lightgray;
}
.demo-components-bui .bui-navbar {
	position: relative !important;
    height: 60px !important;
    padding: 0 !important;
}
.demo-components-bui .bui-navbar .bui-toggle-icon .bui-icon {
	display: flex;
}

.demo-components-bui .tabs .nav-tabs .nav-item a:hover {
	text-decoration: none !important;
}

.demo-components-bui .bui-sidebar .nav .nav-item .nav-link, .bui-sidebar-mobile .nav .nav-item .nav-link:hover {
	border-left-width: 3px !important;
	border-bottom-width: 0 !important;
	margin: 0 !important;
	text-decoration: none !important;
}

.theme-default-content:not(.custom) a:hover {
	text-decoration: none !important;
}

.demo-components-bui .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
	border-bottom-width: 0 !important;
	margin: 0 !important;
}

.demo-bg-body {
	background: #e9edf2;
}